<!DOCTYPE html>
<html>
<head>
  <title>TrevorKnott</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags  %>

<meta charset="UTF-8">
<meta name="description" content="Trevor Knott, Full stack web developer. Knowledge in HTMl5, CSS3,Ruby,Rails, SQL, javascript, typescript, nodejs, angularjs, c#, unity3D, linux, etc. Freelance developer. ">
<meta name="keywords" content="HTML, CSS, XML, XHTML, JavaScript, HTML5, TrevorKnott, Trevor, Knott, Software, engineer, ruby, rails, CSS3, HTML5, Colorado, freelance, developer ">
<meta name="author" content="Trevor Knott">
</head>
<body>



<%= yield %>

</body>
</html>
