
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trevor Knott</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-frontpage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Trevor Knott</a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline animated fadeInDown">“Whatever the mind can conceive and believe, it can achieve.” <br><small style="color:#E8E8E8">- Napoleon Hill</small></h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2 class="animated fadeInLeft">A little bit about me... </h2>
                <p>Ever since I have been a little kid I have had the motivation to create. Starting with a love for puzzles building forts everywhere, I had a passion for creating and imagining something that wasn't even there. As I aged I was always playing sports, training for sports, or watching sports. This caused me to always spend my time I got away to play and mod video games. After going out to California for baseball, I had to leave after a semester due to re-tearing my UCL. (where I previously received Tommy John surgery) This was when I was able to chase my passion in technology. Currently I have recieved my Micro-Degree from the DaVinci Institue, as well as multiple certificates. (Ruby on Rails and C# Game Developement). Once I completed everything I felt needed at DaVinci, I took to my own time learning other languages and skills. I am now a full stack developer and am now just improving upon my skills. A few things I love to do other then computers are lifting (I am a fitness nut), robotics, and fishing. At the age of 20 I know I have my life ahead of me, but I also know it will be full of technology. I have an obsession with self improvment and furthoring myself.</p>
                
                <br>
                    <a class="btn btn-default btn-lg" href="https://www.linkedin.com/in/trevor-knott-32184269">LinkedIn</a>
                    <a class="btn btn-default btn-lg" href="https://trevorknott.wordpress.com">Blog</a> 
                    <a class="btn btn-default btn-lg" href="https://github.com/Tknott95">GitHub</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Trevor</h2>
                <address>
                    <strong>Denver, CO</strong>
                    <br>
                    <strong>20 years old</strong>
                </address>
                <address>
                    <abbr title="Phone">Phone:</abbr> (970) 581-3161
                    <br>
                    <abbr title="Email">Email:</abbr> <a href="mailto:tknott95@hotmail.com"> Tknott95@hotmail.com</a>
                    <br><br>
                    <%= image_tag('grad.jpg', style: "height: 200px; ; margin: 5px; border: 10px solid black;") %>
                    
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <img id="circle-image" class="img-circle img-responsive img-center animated fadeInRight" src="https://frontendmasters.com/assets/js-basics3-300x300.jpg" alt="">
                <h2>JavaScript</h2>
                <p>Interactively using <strong>JavaScript, HTML5, CSS3, and JQuery </strong> to bring together professional and clean front-end web applications. Bringing these languages together not only helps maintain a clean professional application, but also allows your app to pack more of a punch! </p>
            </div>
            <div class="col-sm-4">
                <img id="circle-image" class="img-circle img-responsive img-center animated fadeInUp" src="https://thumbnailer.mixcloud.com/unsafe/300x300/extaudio/d/9/6/4/3e17-9b0d-4138-80f0-ef00128a2285.png" alt="">
                <h2>C#</h2>
                <p>Using <strong>Visual Studio and Unity3D</strong>, I have been able to create multiple projects using C#. From game developement to console applications, C# has been my go-to language.Having programming alot of <strong>Artificial Intelligence</strong>, I have covered many advanced c# topics. I have developed games for <strong>mobile platforms, PC's, </strong>and even the<strong> Oculus Rift DK2 (Virtual Reality).</strong> </p>
            </div>
            <div class="col-sm-4">
                <img id="circle-image" class="img-circle img-responsive img-center animated fadeInRight" src="http://static1.squarespace.com/static/5429ab2be4b0bc226325e671/t/544ade4de4b07de01f6d5a9a/1414192718579/RUBYONRAILSBUTTON.jpg?format=300w" alt="">
                <h2>Ruby on Rails</h2>
                <p>Using <strong>Ruby on Rails</strong> and <strong>SQL</strong>, I am able to be communicate with the back-end of web applications. Creating bug free apps using <strong>Test Driven Developement</strong> to write and make sure tests are passed. Using the rails framework I have created websites similar to twitter, reddit, wordpress, and eCommerce shopping related. Using different authorization and rails security techniques, your info will be safe as well.</p>
            </div>
        </div>
        <h3>And many more...</h3>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

</body>

</html>
